<p><h3>You have entered </h3></p>
<h3>Side One: $myTriangle.getSideOne()</h3>
<h3>Side Two: $myTriangle.getSideTwo()</h3>
<h3>Side Three: $myTriangle.getSideThree()</h3>
<p><h3>You entered $myTriangle.typeOfTriangle() triangle</h3></p>
